{% extends 'mainapp/base.html' %}
{% block content %}


<h1 style="text-align:center">Активные диалоги</h1>
<div class="dialogues-block">
    <ul class="dialogues-ul">
        {% for item in dialogues %}
            <li class="dialog-list">
                <a class="dialog-list-a" href="{% url 'main:message' item.pk %}" style="text-decoration: none;">
                    {{ item.dialog.created }} - {{ item.dialog.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}